In [88]:
import pandas as pd
import requests
import bs4 as bs
import urllib.request
import numpy as np

In [89]:
#GET MOVIES DATA FROM WIKI

In [90]:
def get_data(li):
    source = urllib.request.urlopen(li).read()
    soup = bs.BeautifulSoup(source,'lxml')
    tables = soup.find_all('table',class_='wikitable sortable')
    df1 = pd.read_html(str(tables[0]))[0]
    df2 = pd.read_html(str(tables[1]))[0]
    df3 = pd.read_html(str(tables[2]))[0]
    df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'
    return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [91]:
df18=get_data("https://en.wikipedia.org/wiki/List_of_American_films_of_2018")
df18

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3281562482.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN
...,...,...,...,...,...,...,...
269,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
270,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
271,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229]
272,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[262]
273,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[263]

In [92]:
df19=get_data("https://en.wikipedia.org/wiki/List_of_American_films_of_2019")
df19

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3281562482.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
240,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
241,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[224]
242,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,[225]
243,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[226]
244,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[227]

In [93]:
df20=get_data("https://en.wikipedia.org/wiki/List_of_American_films_of_2020")
df20

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3281562482.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
270,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
271,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
272,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
273,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
274,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [94]:
df21=get_data("https://en.wikipedia.org/wiki/List_of_American_films_of_2021")

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3281562482.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [95]:
df21

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
356,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[273]
357,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[274]
358,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[275]
359,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[276]
360,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df22=get_data("https://en.wikipedia.org/wiki/List_of_American_films_of_2022")
df22

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3281562482.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,7.0,The 355,Universal Pictures / Freckle Films / FilmNatio...,Simon Kinberg (director/screenplay); Theresa R...,[2],NaN
1,JANUARY,7.0,The Legend of La Llorona,Saban Films,Patricia Harris Seeley (director/screenplay); ...,[3],NaN
2,JANUARY,7.0,The Commando,Saban Films,Asif Akbar (director); Koji Steven Sakai (scre...,[4],NaN
3,JANUARY,7.0,American Siege,Vertical Entertainment,Edward Drake (director/screenplay); Timothy V....,[5],NaN
4,JANUARY,14.0,Scream,Paramount Pictures / Spyglass Media Group,"Matt Bettinelli-Olpin, Tyler Gillett (director...",[6],NaN
...,...,...,...,...,...,...,...
327,DECEMBER,30.0,"Alice, Darling",Lionsgate / Elevation Pictures,Mary Nighy (director); Alanna Francis (screenp...,NaN,[263]
328,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
329,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
330,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN
331,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:

from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '1511f22e6c651ea189b44b3842d4841a'

In [98]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [99]:
df18['genres'] = df18['Title'].map(lambda x: get_genre(str(x)))

In [100]:
df18.head(1)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN,Horror Mystery Thriller

In [101]:
df19['genres'] = df19['Title'].map(lambda x: get_genre(str(x)))

#df19.head(1)

In [102]:
df20['genres'] = df20['Title'].map(lambda x: get_genre(str(x)))
#df20

In [103]:
df21['genres'] = df20['Title'].map(lambda x: get_genre(str(x)))

#df21.head(2)

In [104]:
df22['genres'] = df20['Title'].map(lambda x: get_genre(str(x)))
#df22.head(2)

In [105]:
df_2018 = df18[['Title','Cast and crew','genres']]
df_2019 = df19[['Title','Cast and crew','genres']]
df_2020 = df20[['Title','Cast and crew','genres']]
df_2021 = df21[['Title','Cast and crew','genres']]
df_2022 = df22[['Title','Cast and crew','genres']]

In [106]:
#df_2022.head(3)
df_2018

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama Western Thriller
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
...,...,...,...
269,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime
270,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure
271,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
272,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Documentary
273,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie

In [107]:
df_2019['Cast and crew'][0]

'Adam Robitel (director); Bragi F. Schut, Maria Melnik (screenplay); Taylor Russell, Logan Miller, Deborah Ann Woll, Tyler Labine, Jay Ellis, Nik Dodani, Yorick van Wageningen'

In [108]:

def get_director(x):
    if "(director)" in x:
        return x.split("(director)")[0]
    elif "(directors)"in x:
        return x.split("(directors)")[0]
    else:
        return x.split("(director/screenplay)")[0]
            
def get_actor1(x):
    return((x.split("screenplay); ")[-1]).split(", ")[0])
               
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", "))<2:
        return np.NaN
    else:
        return((x.split("screenplay); ")[-1]).split(",")[1])
                            
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", "))<3:
        return np.NaN
    else:
        return((x.split("screenplay); ")[-1]).split(",")[2])

In [109]:
def dirc(df):
    return df.map(lambda x: get_director(str(x)))

df_2018['director_name']=dirc(df_2018['Cast and crew'])

df_2018.head(1)

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\155915090.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['director_name']=dirc(df_2018['Cast and crew'])

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel

In [110]:
df_2019['director_name']=dirc(df_2019['Cast and crew'])

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\400258649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['director_name']=dirc(df_2019['Cast and crew'])

In [111]:
df_2020['director_name']=dirc(df_2020['Cast and crew'])
df_2020.head(1)

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\2209751359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['director_name']=dirc(df_2020['Cast and crew'])

,Title,Cast and crew,genres,director_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce

In [112]:

df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3333601914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [113]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))
df_2022.head(1)

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\2019154397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

,Title,Cast and crew,genres,director_name
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,Horror Mystery Thriller,Simon Kinberg

In [114]:
df_2018

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama Western Thriller,Warwick Thornton
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra
...,...,...,...,...
269,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen
270,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure,Adam McKay
271,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder
272,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Documentary,Karyn Kusama
273,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie,David Slade

In [115]:
def act1(df):
    return df.map(lambda x: get_actor1(str(x)))

In [116]:
df_2018['actor_1_name']=act1(df_2018['Cast and crew'])
df_2019['actor_1_name']=act1(df_2019['Cast and crew'])
df_2020['actor_1_name']=act1(df_2020['Cast and crew'])
df_2021['actor_1_name']=act1(df_2021['Cast and crew'])
df_2022['actor_1_name']=act1(df_2022['Cast and crew'])

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3652225609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['actor_1_name']=act1(df_2018['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3652225609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['actor_1_name']=act1(df_2019['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3652225609.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_1_name']=act1(df_2020['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3652225609.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_1_name']=act1(df_2021['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\3652225609.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name']=act1(df_2022['Cast and crew'])

In [117]:
def act2(df):
    return df.map(lambda x: get_actor2(str(x)))

In [118]:
df_2018['actor_2_name']=act2(df_2018['Cast and crew'])
df_2019['actor_2_name']=act2(df_2019['Cast and crew'])
df_2020['actor_2_name']=act2(df_2020['Cast and crew'])
df_2021['actor_2_name']=act2(df_2021['Cast and crew'])
df_2022['actor_2_name']=act2(df_2022['Cast and crew'])

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\733136504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['actor_2_name']=act2(df_2018['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\733136504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['actor_2_name']=act2(df_2019['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\733136504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_2_name']=act2(df_2020['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\733136504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_2_name']=act2(df_2021['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\733136504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name']=act2(df_2022['Cast and crew'])

In [119]:
def act3(df):
    return df.map(lambda x: get_actor3(str(x)))

In [120]:
df_2018['actor_3_name']=act3(df_2018['Cast and crew'])
df_2019['actor_3_name']=act3(df_2019['Cast and crew'])
df_2020['actor_3_name']=act3(df_2020['Cast and crew'])
df_2021['actor_3_name']=act3(df_2021['Cast and crew'])
df_2022['actor_3_name']=act3(df_2022['Cast and crew'])

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\1601701376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['actor_3_name']=act3(df_2018['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\1601701376.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_3_name']=act3(df_2020['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\1601701376.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_3_name']=act3(df_2021['Cast and crew'])
C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\1601701376.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_3_name']=act3(df_2022['Cast and crew'])

In [121]:

df_2018.head(1)

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell

In [122]:
df_2022.head(1)

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,Horror Mystery Thriller,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz

In [123]:
def re(df):
    return df.rename(columns={'Title':'movie_title'})

In [124]:
df_2018 = re(df_2018)
df_2019 = re(df_2019)

df_2020 = re(df_2020)
df_2021 = re(df_2021)
df_2022 = re(df_2022)

In [125]:
def new(df):
    return df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [126]:
new_df_2018 = new(df_2018)
new_df_2019 = new(df_2019)
new_df_2020 = new(df_2020)
new_df_2021 = new(df_2021)
new_df_2022 = new(df_2022)

In [127]:
new_df_2018

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama Western Thriller,Sweet Country
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,The Commuter
...,...,...,...,...,...,...
269,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,Holmes & Watson
270,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Thriller Science Fiction Action Adventure,Vice
271,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,On the Basis of Sex
272,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Documentary,Destroyer
273,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction Mystery Drama Thriller TV Movie,Black Mirror: Bandersnatch

In [128]:
def replace_nan(df):
    return df.replace(np.nan, 'unknown')

In [129]:
new_df_2018['actor_2_name']=replace_nan(new_df_2018['actor_2_name'])
new_df_2018['actor_3_name']=replace_nan(new_df_2018['actor_3_name'])
new_df_2019['actor_2_name']=replace_nan(new_df_2019['actor_2_name'])
new_df_2019['actor_3_name']=replace_nan(new_df_2019['actor_3_name'])
new_df_2020['actor_2_name']=replace_nan(new_df_2020['actor_2_name'])
new_df_2020['actor_3_name']=replace_nan(new_df_2020['actor_3_name'])
new_df_2021['actor_2_name']=replace_nan(new_df_2021['actor_2_name'])
new_df_2021['actor_3_name']=replace_nan(new_df_2021['actor_3_name'])
new_df_2022['actor_2_name']=replace_nan(new_df_2022['actor_2_name'])
new_df_2022['actor_3_name']=replace_nan(new_df_2022['actor_3_name'])

In [130]:
new_df_2018['movie_title'] = new_df_2018['movie_title'].str.lower()
new_df_2019['movie_title'] = new_df_2019['movie_title'].str.lower()
new_df_2020['movie_title'] = new_df_2020['movie_title'].str.lower()
new_df_2021['movie_title'] = new_df_2021['movie_title'].str.lower()
new_df_2022['movie_title'] = new_df_2022['movie_title'].str.lower()

In [131]:
new_df_2019

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Horror Thriller Mystery,escape room
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama Action Crime,rust creek
2,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,american hangman
3,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,a dog's way home
4,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,the upside
...,...,...,...,...,...,...
240,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise
241,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance History,little women
242,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama History,1917
243,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy
244,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency

In [132]:
new_df_2018['comb'] = new_df_2018['actor_1_name'] + ' ' + new_df_2018['actor_2_name'] + ' '+ new_df_2018['actor_3_name'] + ' '+ new_df_2018['director_name'] +' ' + new_df_2018['genres']
new_df_2019['comb'] = new_df_2019['actor_1_name'] + ' ' + new_df_2019['actor_2_name'] + ' '+ new_df_2019['actor_3_name'] + ' '+ new_df_2019['director_name'] +' ' + new_df_2019['genres']
new_df_2020['comb'] = new_df_2020['actor_1_name'] + ' ' + new_df_2020['actor_2_name'] + ' '+ new_df_2020['actor_3_name'] + ' '+ new_df_2020['director_name'] +' ' + new_df_2020['genres']
new_df_2021['comb'] = new_df_2021['actor_1_name'] + ' ' + new_df_2021['actor_2_name'] + ' '+ new_df_2021['actor_3_name'] + ' '+ new_df_2021['director_name'] +' ' + new_df_2021['genres']
new_df_2022['comb'] = new_df_2022['actor_1_name'] + ' ' + new_df_2022['actor_2_name'] + ' '+ new_df_2022['actor_3_name'] + ' '+ new_df_2022['director_name'] +' ' + new_df_2022['genres']

In [133]:
new_df_2020

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demián Bichir John Cho Ni...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction,underwater,Kristen Stewart Vincent Cassel Jessica Henwi...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Migue...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins J...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Rig...
...,...,...,...,...,...,...,...
270,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Goss...
271,Paul Greengrass,Tom Hanks,Helena Zengel,unknown,Drama Western Adventure Action,news of the world,Tom Hanks Helena Zengel unknown Paul Greengra...
272,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regi...
273,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emeral...
274,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Korn...

In [134]:
my_df=new_df_2018.append(new_df_2019.append(new_df_2020.append(new_df_2021.append(new_df_2022,ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\192968893.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_df=new_df_2018.append(new_df_2019.append(new_df_2020.append(new_df_2021.append(new_df_2022,ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True)

In [135]:
my_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam ...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily A...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Sim...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama Western Thriller,sweet country,Bryan Brown Sam Neill unknown Warwick Thornto...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaum...
...,...,...,...,...,...,...,...
1482,Mary Nighy,Anna Kendrick,Kaniehtiio Horn,Charlie Carrick,NaN,"alice, darling",NaN
1483,nan,nan,unknown,unknown,NaN,NaN,NaN
1484,nan,nan,unknown,unknown,NaN,NaN,NaN
1485,nan,nan,unknown,unknown,NaN,NaN,NaN
1486,nan,nan,unknown,unknown,NaN,NaN,NaN

In [136]:
old_df = pd.read_csv('C:/Users/pushp/Downloads/AJAX-Movie-Recommendation-System-with-Sentiment-Analysis-master/AJAX-Movie-Recommendation-System-with-Sentiment-Analysis-master/datasets/new_data.csv')

In [137]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5359,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield ...
5360,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
5363,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [138]:
final1_df = old_df.append(my_df,ignore_index=True)

C:\Users\pushp\AppData\Local\Temp\ipykernel_2960\2308293578.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final1_df = old_df.append(my_df,ignore_index=True)

In [139]:
final1_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6846,Mary Nighy,Anna Kendrick,Kaniehtiio Horn,Charlie Carrick,NaN,"alice, darling",NaN
6847,nan,nan,unknown,unknown,NaN,NaN,NaN
6848,nan,nan,unknown,unknown,NaN,NaN,NaN
6849,nan,nan,unknown,unknown,NaN,NaN,NaN
6850,nan,nan,unknown,unknown,NaN,NaN,NaN

In [140]:
#final_df = final_df.dropna(how='any')
final1_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6846,Mary Nighy,Anna Kendrick,Kaniehtiio Horn,Charlie Carrick,NaN,"alice, darling",NaN
6847,nan,nan,unknown,unknown,NaN,NaN,NaN
6848,nan,nan,unknown,unknown,NaN,NaN,NaN
6849,nan,nan,unknown,unknown,NaN,NaN,NaN
6850,nan,nan,unknown,unknown,NaN,NaN,NaN

In [141]:
final1_df = final1_df.dropna(how='any')
final1_df.isna().sum()
final1_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6789,Michael Mailer,Cole Hauser,Jaimie Alexander,Morgan Freeman,Action Fantasy Family Comedy,the minute you wake up dead,Cole Hauser Jaimie Alexander Morgan Freeman ...
6790,Romuald Boulanger,Mel Gibson,Kevin Dillon,unknown,Drama Western Adventure Action,on the line,Mel Gibson Kevin Dillon unknown Romuald Boula...
6791,Gren Wells,Sadie Sink,Theo Rossi,Kweku Collins,Drama,dear zoe,Sadie Sink Theo Rossi Kweku Collins Gren Wel...
6792,"Justin Benson, Aaron Moorhead",Justin Benson,Aaron Moorhead,unknown,Thriller Crime Drama,something in the dirt,Justin Benson Aaron Moorhead unknown Justin B...
6793,Ryan White,Ryan White (director),unknown,unknown,Drama,good night oppy,Ryan White (director) unknown unknown Ryan Whi...

In [142]:
final1_df.to_csv('main_data.csv',index=False)

In [143]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [144]:
vector = cv.fit_transform(final1_df['comb']).toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [145]:
vector.shape
cv.get_feature_names()

C:\Users\pushp\anaconda\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['300ml',
 '50',
 'aagesen',
 'aaliyah',
 'aarniokoski',
 'aaron',
 'aasheekaa',
 'aasif',
 'abad',
 'abadie',
 'abai',
 'abascal',
 'abbas',
 'abbass',
 'abbess',
 'abbi',
 'abbie',
 'abbott',
 'abby',
 'abdalla',
 'abdul',
 'abdulayev',
 'abe',
 'abel',
 'abelanski',
 'abell',
 'abhishek',
 'abi',
 'abigail',
 'abita',
 'abittan',
 'abkarian',
 'able',
 'abo',
 'aboulafia',
 'abraham',
 'abrahams',
 'abrahamson',
 'abrams',
 'abril',
 'abromeit',
 'abtahi',
 'abubakr',
 'acar',
 'ace',
 'acevedo',
 'achabbakhe',
 'acker',
 'ackerman',
 'ackland',
 'ackles',
 'acres',
 'action',
 'adah',
 'adain',
 'adam',
 'adamczyk',
 'adamma',
 'adams',
 'adamson',
 'adan',
 'adarsh',
 'addison',
 'adduci',
 'addy',
 'adel',
 'adelaide',
 'adelman',
 'adelstein',
 'aden',
 'adepo',
 'adetuyi',
 'adhir',
 'adil',
 'adina',
 'adir',
 'aditya',
 'adjani',
 'adjei',
 'adkins',
 'adler',
 'adloff',
 'adlon',
 'adolfo',
 'adolphe',
 'adorée',
 'adoti',
 'adria',
 'adrian',
 'adriana',
 'adriane',
 'adrianne',
 'adriano',
 'adrien',
 'adrienne',
 'adrián',
 'adsit',
 'adventure',
 'adèle',
 'ae',
 'aeona',
 'afable',
 'affleck',
 'agada',
 'agalakova',
 'agame',
 'agapova',
 'agata',
 'agee',
 'aglaya',
 'agnefjall',
 'agnes',
 'agnia',
 'agnieszka',
 'agnihotri',
 'agniya',
 'agostino',
 'agranov',
 'agrelo',
 'agresti',
 'agroobi',
 'aguilar',
 'agustín',
 'agutter',
 'agyness',
 'ah',
 'ahern',
 'ahluwalia',
 'ahmad',
 'ahmed',
 'ahmet',
 'ahn',
 'ahna',
 'ahney',
 'aia',
 'aida',
 'aidan',
 'aidman',
 'aiello',
 'aiken',
 'aimee',
 'ainsworth',
 'aiono',
 'airlie',
 'airoldi',
 'aisha',
 'aisling',
 'aislinn',
 'aitana',
 'aj',
 'aja',
 'ajay',
 'akanishi',
 'akar',
 'akbar',
 'ake',
 'akhavan',
 'aki',
 'akie',
 'akil',
 'akima',
 'akimoto',
 'akin',
 'akinnagbe',
 'akins',
 'akinshina',
 'akira',
 'akiva',
 'akiyuki',
 'akkad',
 'akon',
 'aksel',
 'akshaye',
 'aksyonova',
 'akurati',
 'al',
 'aladjem',
 'alaimo',
 'alain',
 'alamsyah',
 'alan',
 'alana',
 'alanna',
 'alastair',
 'alazraki',
 'alazraqui',
 'alba',
 'albanese',
 'albarn',
 'albergaria',
 'albert',
 'albertini',
 'alberto',
 'albertson',
 'albrecht',
 'albright',
 'albrizzi',
 'alcarazu',
 'alche',
 'alcázar',
 'alda',
 'alden',
 'aldis',
 'aldo',
 'aldrin',
 'aleandro',
 'alec',
 'alejandro',
 'alek',
 'aleks',
 'aleksa',
 'aleksandr',
 'aleksei',
 'aleksey',
 'aleong',
 'alessandra',
 'alessandro',
 'alessi',
 'alessia',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandre',
 'alexandria',
 'alexandru',
 'alexei',
 'alexey',
 'alexi',
 'alexia',
 'alexie',
 'alexis',
 'alexxis',
 'aleyse',
 'alfie',
 'alfonso',
 'alfre',
 'alfred',
 'alfredo',
 'alfredson',
 'algar',
 'algee',
 'algrant',
 'ali',
 'alia',
 'alice',
 'alicia',
 'alicja',
 'alig',
 'aliou',
 'alisha',
 'alison',
 'alissa',
 'alistair',
 'alister',
 'alix',
 'allam',
 'allan',
 'allcroft',
 'allegra',
 'allen',
 'allers',
 'alley',
 'allie',
 'allison',
 'allman',
 'allo',
 'allred',
 'ally',
 'allyn',
 'alma',
 'almanzar',
 'almas',
 'almeida',
 'almereyda',
 'alminas',
 'almirón',
 'almodóvar',
 'alona',
 'alonna',
 'alonso',
 'alonzo',
 'alpay',
 'alterman',
 'althaus',
 'altieri',
 'altizer',
 'altman',
 'altro',
 'alun',
 'alva',
 'alvarez',
 'alvart',
 'alverú',
 'alwyn',
 'aly',
 'alycia',
 'alyn',
 'alyson',
 'amal',
 'amalric',
 'amami',
 'amamiya',
 'amanda',
 'amandes',
 'amandla',
 'amariah',
 'amaro',
 'amat',
 'amata',
 'amato',
 'amatulli',
 'amaya',
 'amber',
 'ambriz',
 'ambrose',
 'ambudkar',
 'ambuhl',
 'ameche',
 'amedori',
 'amedson',
 'ameen',
 'amelia',
 'amelie',
 'amell',
 'amendola',
 'ament',
 'amenábar',
 'amer',
 'america',
 'amerine',
 'ames',
 'ameyaw',
 'ami',
 'amiah',
 'amidou',
 'amiel',
 'amin',
 'amino',
 'amir',
 'amirah',
 'amirpour',
 'aml',
 'amore',
 'amorim',
 'amos',
 'amplas',
 'amr',
 'amrish',
 'amrutlal',
 'amstell',
 'amuka',
 'amurri',
 'amy',
 'ana',
 'anais',
 'analeigh',
 'analeine',
 'anamaria',
 'anand',
 'anatole',
 'anatoliy',
 'anaya',
 'andelin',
 'anden',
 'anders',
 'andersen',
 'anderson',
 'andi',
 'andra',
 'andrade',
 'andre',
 'andrea',
 'andreasyan',
 'andrei',
 'andrej',
 'andres',
 'andress',
 'andretti',
 'andreu',
 'andrew',
 'andrews',
 'andrey',
 'andrucha',
 'andrzej',
 'andré',
 'andrés',
 'andy',
 'ane',
 'aneesh',
 'anella',
 'aneurin',
 'ang',
 'angarano',
 'angel',
 'angela',
 'angelica',
 'angeliki',
 'angelina',
 'angell',
 'angelo',
 'angelou',
 'angie',
 'anglade',
 'angle',
 'anglin',
 'angourie',
 'angulo',
 'angus',
 'angélica',
 'anh',
 'aniello',
 'anika',
 'anil',
 'animation',
 'aniston',
 'anita',
 'anjelica',
 'ann',
 'anna',
 'annabel',
 'annabella',
 'annabelle',
 'annabeth',
 'annable',
 'annakin',
 'annasophia',
 'annaud',
 'anne',
 'anneliese',
 'annelyse',
 'annet',
 'annette',
 'annie',
 'anno',
 'anozie',
 'ansel',
 'anshai',
 'anslem',
 'anson',
 'anspaugh',
 'ant',
 'antal',
 'anthony',
 'antin',
 'antoine',
 'antoinette',
 'anton',
 'antoni',
 'antonia',
 'antonio',
 'antonoff',
 'antony',
 'antosik',
 'anupam',
 'anurag',
 'anushka',
 'anvar',
 'anvari',
 'anwar',
 'anya',
 'aoi',
 'apa',
 'apanowicz',
 'aparicio',
 'apatow',
 'appel',
 'appelbaum',
 'appelhans',
 'appleby',
 'applegate',
 'aprea',
 'april',
 'apted',
 'ara',
 'arabi',
 'aram',
 'aramaki',
 'aramis',
 'arango',
 'aranoa',
 'arbanville',
 'arben',
 'arbi',
 'arby',
 'arcand',
 'arce',
 'arcel',
 'arcelia',
 'archer',
 'archibald',
 'archie',
 'arcieri',
 'arcilla',
 'arcy',
 'ardant',
 'ardavany',
 'arden',
 'ardolino',
 'arenberg',
 'arend',
 'aretha',
 'argento',
 'argenziano',
 'argott',
 'argus',
 'argyris',
 'ari',
 'aria',
 'ariadna',
 'ariana',
 'arianda',
 'ariane',
 'arias',
 'arie',
 'ariel',
 'arienzo',
 'aries',
 'arifin',
 'arik',
 'arinzé',
 'arjona',
 'arjun',
 'arkin',
 'arkush',
 'arliss',
 'arly',
 'armand',
 'armando',
 'armani',
 'armas',
 'armendáriz',
 'armie',
 'armin',
 'armisen',
 'armitage',
 'armstrong',
 'arnar',
 'arnaud',
 'arnett',
 'arnette',
 'arnezeder',
 'arnold',
 'arntz',
 'aron',
 'aronofsky',
 'aronowitz',
 'aronson',
 'arquette',
 'arreola',
 'arriaga',
 'arroyo',
 'arruti',
 'arrué',
 'arsen',
 'arsenio',
 'art',
 'artemis',
 'arterton',
 'arteta',
 'arthur',
 'artigas',
 'arturo',
 'artyom',
 'ary',
 'arya',
 'asa',
 'asano',
 'asbury',
 'asbæk',
 'ascencio',
 'ascherman',
 'aselton',
 'asger',
 'asghar',
 'ash',
 'ashanti',
 'ashbourne',
 'ashby',
 'ashe',
 'asher',
 'ashfield',
 'ashida',
 'ashish',
 'ashja',
 'ashkenazi',
 'ashleigh',
 'ashley',
 'ashmore',
 'ashraf',
 'ashton',
 'asif',
 'asim',
 'asin',
 'asjha',
 'askew',
 'asomugha',
 'aspillaga',
 'assange',
 'assante',
 'assayas',
 'asta',
 'asten',
 'aster',
 'astin',
 'astor',
 'astrid',
 'asztalos',
 'atack',
 'atandwa',
 'atchison',
 'atencio',
 'athale',
 'atherton',
 'athie',
 'athina',
 'atkin',
 'atkins',
 'atkinson',
 'ato',
 'atom',
 'atsuko',
 'atsumi',
 'attal',
 'attenborough',
 'atticus',
 'attieh',
 'atwell',
 'au',
 'auberjonois',
 'aubier',
 'aubrey',
 'auburtin',
 'audiard',
 'audley',
 'audrey',
 'auerbach',
 'auffarth',
 'august',
 'augustine',
 'augustus',
 'aukerman',
 'auliʻi',
 'auman',
 'aunjanue',
 'aura',
 'austin',
 'austyn',
 'auteuil',
 'authors',
 'autry',
 'autumn',
 'ava',
 'avari',
 'avary',
 'ave',
 'avedisian',
 'avery',
 'avgeropoulos',
 'avgousta',
 'avi',
 'avila',
 'avildsen',
 'aviles',
 'avis',
 'avitia',
 'avnet',
 'awkwafina',
 'axton',
 'aya',
 'ayala',
 'ayalon',
 'ayan',
 'aycox',
 'ayelet',
 'ayer',
 'ayesha',
 'ayisi',
 'ayla',
 'aylward',
 'ayo',
 'ayoade',
 'ayola',
 'ayotte',
 'ayres',
 'ayush',
 'azabal',
 'azaria',
 'azazel',
 'azhy',
 'aziz',
 'azmi',
 'aznavour',
 'azuelos',
 'azura',
 'azzouz',
 'aïnouz',
 'aïssa',
 'baba',
 'babak',
 'babalola',
 'babar',
 'babatundé',
 'babbit',
 'babers',
 'babson',
 'babu',
 'baccarin',
 'bach',
 'bachar',
 'bachchan',
 'bachleda',
 'bachman',
 'bachrach',
 'bacic',
 'backus',
 'bacon',
 'badberg',
 'badejo',
 'bader',
 'badge',
 'badgley',
 'badham',
 'badland',
 'badreya',
 'bae',
 'baena',
 'baer',
 'baez',
 'bagby',
 'bagley',
 'bahare',
 'bahns',
 'bahrani',
 'bai',
 'baig',
 'bailee',
 'bailey',
 'bailie',
 'baio',
 'baird',
 'bajpayee',
 'bajraktaraj',
 'bajwa',
 'bakaitis',
 'bakalova',
 'baker',
 'bakhtadze',
 'bakke',
 'bakkedahl',
 'bakshi',
 'balaban',
 'balagueró',
 'balan',
 'balda',
 'baldoni',
 'baldwin',
 'bale',
 'balfour',
 'balinese',
 'balinska',
 'balki',
 'ball',
 'ballard',
 'ballesteros',
 'ballezzi',
 'balsam',
 'baltasar',
 'balthazar',
 'baltz',
 'bam',
 'bamber',
 'bancroft',
 'band',
 'banderas',
 'bang',
 'banionis',
 'bank',
 'bankole',
 'bankolé',
 'banks',
 'bannon',
 'bannos',
 'bao',
 'baptiste',
 'baquero',
 'bar',
 'barack',
 'baran',
 'barbakow',
 'barbara',
 'barbarash',
 'barbe',
 'barbeau',
 'barber',
 'barbet',
 'barbie',
 'barbosa',
 'barbra',
 'bardem',
 'barden',
 'bardin',
 'bardot',
 'barek',
 'bargen',
 'barhom',
 'bari',
 'barinholtz',
 'barker',
 'barkin',
 'barks',
 'barladeanu',
 'barlen',
 'barmak',
 'barnard',
 'barnes',
 'barnett',
 'barnette',
 'barnev',
 'barney',
 'barnhill',
 'barnz',
 'barofsky',
 'baron',
 'baroo',
 'barr',
 'barratier',
 'barratt',
 'barraza',
 'barrer',
 'barrera',
 'barres',
 'barret',
 'barreto',
 'barrett',
 'barrie',
 'barron',
 'barry',
 'barrymore',
 'barsi',
 'bart',
 'bartel',
 'bartkowiak',
 'bartlett',
 'barton',
 'bartusiak',
 'barty',
 'baruchel',
 'basche',
 'basehart',
 'basha',
 'bashar',
 'basher',
 'bashirov',
 'basil',
 'basinger',
 'basir',
 'basman',
 'bass',
 'bassett',
 'basso',
 'bastoni',
 'bastos',
 'basu',
 'batarda',
 'bateman',
 'bates',
 'bathe',
 'bathija',
 'bathurst',
 'batmanglij',
 'batra',
 'batson',
 'battistelli',
 'battle',
 'batyste',
 'batán',
 'bauchau',
 'bauer',
 'baugh',
 'baumbach',
 'bautista',
 'bavier',
 'baxley',
 'bay',
 'baye',
 'bayona',
 'baz',
 'bazawule',
 'bazeley',
 'bazoon',
 'beach',
 'beale',
 'bean',
 'beane',
 'beanie',
 'bear',
 'beard',
 'beasley',
 'beatrice',
 'beatriz',
 'beattie',
 'beatty',
 'beau',
 'beaufort',
 'beaumont',
 'beauvais',
 'beauvois',
 'beavers',
 'bebe',
 'beck',
 'beckel',
 'becker',
 'beckham',
 'beckingham',
 'beckinsale',
 'beckman',
 'beckwith',
 'becky',
 'bedard',
 'bedi',
 'bedingfield',
 'bednob',
 'bedos',
 'beeban',
 'beech',
 'beecham',
 'beesley',
 'beetem',
 'beetz',
 'beggs',
 'beghe',
 'begley',
 'begne',
 'beharie',
 'behr',
 'behrouz',
 'beinbrink',
 'bejo',
 'bekmambetov',
 'bel',
 'belcher',
 'belfiglio',
 'belinda',
 'bell',
 'bella',
 'bellamy',
 'belle',
 'bellisario',
 'bellman',
 'bello',
 'bellows',
 'bellucci',
 'belmondo',
 'belmont',
 'belson',
 'beltran',
 'belushi',
 'belén',
 'ben',
 'benazzo',
 'bench',
 'bendavid',
 'bendelack',
 'bendinger',
 'benedek',
 'benedict',
 'benedikt',
 'benenson',
 'benesch',
 'benh',
 'beniamin',
 'benicio',
 'bening',
 'benjamin',
 'bennet',
 'bennett',
 'benni',
 'benno',
 'benny',
 'benoist',
 'benoît',
 'benrubi',
 'benskin',
 'benson',
 'bent',
 'benward',
 'benz',
 'bercot',
 'berdal',
 'berelc',
 'berends',
 'berenger',
 'beresford',
 'berg',
 'bergen',
 'berger',
 'bergeron',
 'bergh',
 'bergin',
 ...]

In [146]:
from sklearn.metrics.pairwise import cosine_similarity

In [147]:
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.        ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.        ],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.06741999,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.07905694,
        0.09449112],
       [0.        , 0.        , 0.06741999, ..., 0.07905694, 1.        ,
        0.17928429],
       [0.        , 0.        , 0.        , ..., 0.09449112, 0.17928429,
        1.        ]])

In [148]:
final1_df[final1_df['movie_title'] == 'the dark knight rises'].index[0]

3

In [149]:
def recommend(movie):
    movie_index = final1_df[final1_df['movie_title'] == movie].index[0]
    distances=similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:6]
    for i in movie_list:
        print(i)

In [150]:
recommend('batman begins')

(57, 0.6390096504226939)
(3, 0.4767312946227962)
(37, 0.38138503569823695)
(120, 0.38138503569823695)
(1414, 0.38138503569823695)

In [151]:
import pickle

In [152]:
pickle.dump(final1_df.to_dict(),open('movies.pkl','wb'))

In [153]:
pickle.dump(similarity,open('similarity.pkl','wb'))